
{% extends "base.html" %}

{% load staticfiles %}

{%block content%}
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-8">
          <p class="text-center page_title">My Notes</p>
          <br>
          <p class="text-center title">All Purchases</p>

<!-- test -->


    <div class="row">



      {% for note in notes_purchased%}

      {% if forloop.first %}
       <div class="card-deck">
      {%endif%}


      {% if forloop.counter|divisibleby:3 %}


      <div class="card" style="">
        <a href="{{note.get_selected_note_url}}"><img class="card-img-top" src="{{note.note_snippet.url}}" alt="Card image cap" style="max-height:320px; min-height:320px; height:320px;max-width: 350px; margin-top: 20px;"></a>
        <div class="card-body">
          <h5 class="card-title" style="text-transform: capitalize;">{{note.note_name}}</h5>

         <!-- <p class="card-text">{{note.note_summary}}</p>-->
         <p class="smaller_lighter">{{note.note_uploader_user}}</p>


         <div >



           {{note.get_complete_star}}

           <!--
            <span class="fa fa-star checked star" style=""></span>
            <span class="fa fa-star checked star"></span>
            <span class="fa fa-star checked star"></span>
            <span class="fa fa-star star"></span>
            <span class="fa fa-star star"></span>
          -->


            <span class = "rating_info rating_number">{{note.ratings}}</span>
            <span class = "rating_info smaller_lighter">({{ note.note_times_purchased }})</span>
          </div>

          <br>

          <div class="card-footer bg-transparent border-primary width:100%;">
                        <p style="float:left;">{{note.note_category.cat_name}}</p>

        </div>



        </div>

      </div>


         {% comment %}
         end
         {% endcomment %}

        </div>
        <br>
        <br>

       {% comment %}
       start
       {% endcomment %}
         <div class="card-deck">
         {%if forloop.counter|divisibleby:9%}
        </div>
         {%endif%}



         {%else%}


         <div class="card" style="width: 30%;">
           <a href="{{note.get_selected_note_url}}"><img class="card-img-top" src="{{note.note_snippet.url}}" alt="Card image cap" style="max-height:320px; max-width: 300px; min-height:320px;height:320px; margin-top: 20px;"></a>
           <div class="card-body">
             <h5 class="card-title" style="text-transform: capitalize;">{{note.note_name}}</h5>

            <!-- <p class="card-text">{{note.note_summary}}</p>-->
            <p class="smaller_lighter">{{note.note_uploader_user}}</p>

            <div >
              {{note.get_complete_star}}

              <!--
               <span class="fa fa-star checked star" style=""></span>
               <span class="fa fa-star checked star"></span>
               <span class="fa fa-star checked star"></span>
               <span class="fa fa-star star"></span>
               <span class="fa fa-star star"></span>
             -->

               <span class = "rating_info rating_number">{{note.ratings}}</span>
               <span class = "rating_info smaller_lighter">({{ note.note_times_purchased }})</span>
             </div>

             <br>

             <div class="card-footer bg-transparent border-primary width:100%;">
                           <p style="float:left;">{{note.note_category.cat_name}}</p>

           </div>



           </div>

         </div>



         {%endif%}

      {%endfor%}

</div>
</div>





<!-- end test -->








































        </div>
        <div class="col-3">


          <!--
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <div class="dropright">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Department Name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Blah</a>
                          <a class="dropdown-item" href="#">Something</a>
                          <a class="dropdown-item" href="#">Something else</a>
                        </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="dropright">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Class Name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Blah</a>
                          <a class="dropdown-item" href="#">Something</a>
                          <a class="dropdown-item" href="#">Something else</a>
                        </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="dropright">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Section #
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Blah</a>
                          <a class="dropdown-item" href="#">Something</a>
                          <a class="dropdown-item" href="#">Something else</a>
                        </div>
                </div>
              -->
            </div>
        </div>
{%endblock%}
