
{% extends "base.html" %}

{% load staticfiles %}

{%block content%}
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-8">
          <p class="text-center page_title">My Notes</p>
          <br>
          <p class="text-center title">All Purchases</p>










          {{ids}}
          <div class="card-deck">
              <div class="card mb-3" style="max-width: 500px;">
                  <img class="card-img-top" src="{% static 'images/figure_7.2.jpg' %}" alt="Card image cap" style="max-height:300px;">
                  <div class="card-body">
                      <div class="title_price">
                           <h5 class="card-title title" style="display: inline;">Card title</h5>
                           <p class="price" style="display: inline; float: right;">$20.00</p>
                      </div>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#">Remove</a>
                  </div>
              </div>
          </div>










        </div>
        <div class="col-3">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <div class="dropright">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Department Name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Blah</a>
                          <a class="dropdown-item" href="#">Something</a>
                          <a class="dropdown-item" href="#">Something else</a>
                        </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="dropright">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Class Name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Blah</a>
                          <a class="dropdown-item" href="#">Something</a>
                          <a class="dropdown-item" href="#">Something else</a>
                        </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="dropright">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Section #
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Blah</a>
                          <a class="dropdown-item" href="#">Something</a>
                          <a class="dropdown-item" href="#">Something else</a>
                        </div>
                </div>

            </div>
        </div>
{%endblock%}
