{% extends "base.html" %}

{% load staticfiles %}

{%block content%}
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <h1 class="text-center">{{note.note_name}}</h1>
            <div class="center_picture" style="overflow: scroll; width: 80%;">
                <img class="card-img-top" src="{{note.note_image1.url}}" alt="Card image cap" style="max-height:1100px; border:1px solid black;">
                <img class="card-img-top" src="{{note.note_image2.url}}" alt="Card image cap" style="max-height:1100px; border:1px solid black;">
                <img class="card-img-top" src="{{note.note_image3.url}}" alt="Card image cap" style="max-height:1100px; border:1px solid black;">
            </div>
            <br>
            <br>
            <p class="text-center" style="font-weight: bold;">Rate your purchase.</p>


              <form action="{{note.get_make_review_url}}" style="text-align: center;" method="POST">
                {%csrf_token%}
                <div class="star-rating">
            			<input id="star-5" type="radio" name="rating" value="star-5">
            			<label for="star-5" title="5 stars">
            					<i class="active fa fa-star" aria-hidden="true"></i>
            			</label>
            			<input id="star-4" type="radio" name="rating" value="star-4">
            			<label for="star-4" title="4 stars">
            					<i class="active fa fa-star" aria-hidden="true"></i>
            			</label>
            			<input id="star-3" type="radio" name="rating" value="star-3">
            			<label for="star-3" title="3 stars">
            					<i class="active fa fa-star" aria-hidden="true"></i>
            			</label>
            			<input id="star-2" type="radio" name="rating" value="star-2">
            			<label for="star-2" title="2 stars">
            					<i class="active fa fa-star" aria-hidden="true"></i>
            			</label>
            			<input id="star-1" type="radio" name="rating" value="star-1">
            			<label for="star-1" title="1 star">
            					<i class="active fa fa-star" aria-hidden="true"></i>
            			</label>
		            </div>
                <p class="mt-2" style="font-weight: bold;">Review: </p>
                  <textarea class="text_size" style="height: 100px; width: 500px;" type="text" name="review"></textarea><br><br>
                  <button type="submit" style="width: 500px; margin-bottom: 20px; height: 40px;" value="Submit">Submit</button>
              </form>
        </div>
        <div class="col-1">
        </div>
    </div>
{%endblock%}
