<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{%static 'css/custom.css'%}">

        <link rel="stylesheet" href="{%static 'css/ratings.css'%}">
        {%if market %}

        <link rel="stylesheet" href="{%static 'css/ratings.css'%}">
        <link rel="stylesheet" href="{%static 'css/market.css'%}">
        <link rel="stylesheet" href="{%static 'css/ratings.css'%}">
        {%endif %}

        {%if note_preview%}
        <link rel="stylesheet" href="{%static 'css/ratings.css'%}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{%static 'css/note_preview.css'%}">

        {%endif%}

        {%if cart%}
        <link rel="stylesheet" href="{%static 'css/ratings.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
        {%endif%}

        {%if mynotes or selected_note%}
        <link rel="stylesheet" href="{%static 'css/ratings.css'%}">
        <link rel="stylesheet" href="{%static 'css/star_rating.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/notes.css' %}">
        {%endif%}
        {%if payment %}
        <link rel="stylesheet" href="{%static 'css/setting_payment.css'%}">
        {%endif %}
        <link rel="stylesheet" href="{%static 'css/footer.css'%}">
    <title></title>
  </head>
  <body>
    {%include 'navbar.html'%}

    {%block content%}

    {%endblock%}
    {%include 'footer.html'%}
    <script src="{% static 'js/jquery-3.3.1.slim.min.js'%}" ></script>
    <script src="{% static 'js/popper.min.js'%}" ></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
  </body>
</html>
