{% extends 'base.html' %}
{% load staticfiles%}
{%block content%}
<div class="row container_custom" style="max-height:350px; background-color:#54B2CE;" > <!--#4AA4BA -->
  <img src="{% static 'images/ss3.png'%}" class="img-fluid" alt="Flash Sale" style="max-height:350px; width:100%; margin-left:-20px;">
  </img>
  <div class="centered">
    <h1>Summer Sale</h1>
    <h4>Get your class notes as cheap as $1.99</h4>
    <!--<form class="form-inline my-2 my-lg-0" style="width:100%">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
     </form>-->
  </div>

</div>

  <!--<div class="col-12">
      <img src="{% static 'images/ss3.png'%}" class="img-fluid" alt=""style="max-height:350px; width:100%;"></img>
  </div>
-->

<br>
<br>

<div class="row">
  <div class="col-1">
empty

  </div>

  <div class="col-10">
      <div class="row">



        {% for note in notes.object_list%}

        {% if forloop.first %}
         <div class="card-deck">
        {%endif%}

        {% if forloop.counter|divisibleby:3 %}


        <div class="card" style="">
          <a href="{{note.get_preview_url}}"><img class="card-img-top" src="{{note.note_snippet.url}}" alt="Card image cap" style="max-height:320px;"></a>
          <div class="card-body">
            <h5 class="card-title">{{note.note_name}}</h5>

           <!-- <p class="card-text">{{note.note_summary}}</p>-->
           <p class="smaller_lighter">{{note.note_uploader_user}}</p>

           <div >
              <span class="fa fa-star checked star" style=""></span>
              <span class="fa fa-star checked star"></span>
              <span class="fa fa-star checked star"></span>
              <span class="fa fa-star star"></span>
              <span class="fa fa-star star"></span>
              <span class = "rating_info rating_number">{{note.ratings}}</span>
              <span class = "rating_info smaller_lighter">({{ note.note_times_purchased }})</span>
            </div>

            <br>

            <div class="card-footer bg-transparent border-primary width:100%;">
                          <p style="float:left;">{{note.note_category.cat_name}}</p>

            </div>
            <p style=" float:right;font-size:1.1em;">${{note.note_price}}</p>


          </div>

        </div>


           {% comment %}
           end
           {% endcomment %}

          </div>
          <br>
          <br>

         {% comment %}
         start
         {% endcomment %}
           <div class="card-deck">
           {%if forloop.counter|divisibleby:9%}
          </div>
           {%endif%}



           {%else%}


           <div class="card" style="">
             <a href="{{note.get_preview_url}}"><img class="card-img-top" src="{{note.note_snippet.url}}" alt="Card image cap" style="max-height:320px;"></a>
             <div class="card-body">
               <h5 class="card-title">{{note.note_name}}</h5>

              <!-- <p class="card-text">{{note.note_summary}}</p>-->
              <p class="smaller_lighter">{{note.note_uploader_user}}</p>

              <div >
                 <span class="fa fa-star checked star" style=""></span>
                 <span class="fa fa-star checked star"></span>
                 <span class="fa fa-star checked star"></span>
                 <span class="fa fa-star star"></span>
                 <span class="fa fa-star star"></span>
                 <span class = "rating_info rating_number">{{note.ratings}}</span>
                 <span class = "rating_info smaller_lighter">({{ note.note_times_purchased }})</span>
               </div>

               <br>

               <div class="card-footer bg-transparent border-primary width:100%;">
                             <p style="float:left;">{{note.note_category.cat_name}}</p>

             </div>
               <p style=" float:right;font-size:1.1em;">${{note.note_price}}</p>


             </div>

           </div>








           {%endif%}

        {%endfor%}




      </div>
      <div class="row" style="width:100%;">

        <div class="mx-auto">
          {% if notes.paginator.num_pages > 1%}
            <hr>
            <div class="text-center">
              {% for pg in notes.paginator.page_range%}
                <a href="?page={{pg}}" class = "btn btn-light btn-sm {% if notes.number == pg%} active {% endif %}">{{pg}}</a>
              {%endfor%}
            </div>
          {% endif%}
        </div>

      </div>


  </div>

<!-- Fixes footer on the 2nd page of market. Have not tested if the solution cause no side effects
</div> -->
    <div class="col-1">
      Empty

    </div>

  </div>

  {% endblock%}
